<html>
	<head></head>
	<body>
		<a href="/add/">Add Person</a>
		<ul>
		{% for person in people %}
			<li>
				<img src="{{ person.cardImage.url }}"/>
				<a href="{{ person.get_absolute_url }}">{{ person.firstName }} {{ person.lastName }}</a><br/>
				{{ person.companyName }}<br/>
				{{ person.title }}<br/>
				{% if person.bangledeshiTitle %}
					{{ person.bangledeshiTitle }}<br/>
				{% endif %}
				{% for phoneNumber in person.phonenumber_set.all %}
					<strong>{{ phoneNumber.label }}</strong>: {{ phoneNumber.number }}<br/>
				{% endfor %}
			</li>
		{% endfor %}
		</ul>
	</body>
</html>